@{
    ViewData["Title"] = "Home Page";
}
<style> body {background-color: rgb(21,21,21); }
.display-4 {color: white;}
</style>
<div class="text-center">
        
    <h1 class="display-4">Welcome! to this website</h1>
    <p>building this website for my nea project using asp.net core MVC (model view contoller)</p>


</div>
